.mini-cart {
  position: relative;
  cursor: pointer;

  &:hover {
    .cart__items {
      display: block;
    }
  }

  .total-items {
    width: 20px;
    height: 20px;
    background-color: #ffa800;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    position: absolute;
    right: -10px;
    top: -10px;
  }

  .cart__items {
    position: absolute;
    right: 0;
    top: 46px;
    width: 320px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 6px 0 #32323254;
    cursor: default;
    display: none;

    &::before {
      content: '';
      width: 40px;
      height: 22px;
      position: absolute;
      right: 0;
      top: -22px;
    }

    .cart__actions {
      button {
        background-color: #000;
        color: #fff;
        padding: 8px 0;
        text-transform: uppercase;
        transition: all 0.1s ease;

        &:hover {
          background-color: #ccc;
          color: #000;
        }
      }
    }
  }
}
