@tailwind base;
@tailwind components;
@tailwind utilities;

.log-reg-block {
  .title {
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
  }

  .by-oauth2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 30px;

    button {
      display: flex;
      align-items: center;
      gap: 4px;
      height: 40px;
      color: #fff;
      width: 140px;

      &:hover {
        opacity: 0.8;
      }

      .image {
        display: flex;
        width: 50px;
        height: inherit;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        padding: 0 8px;
        border-right: 1px solid #ce4530;
      }

      .name {
        flex: 1;
      }

      &.google {
        background-color: #e14b33;
      }
    }
  }

  .devider {
    max-width: 310px;
    position: relative;
    border-top: 1px solid #d6d6d6;
    margin: 20px auto;

    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 1px solid #d6d6d6;
      border-radius: 10px;
      width: 50px;
      text-transform: lowercase;
      font-size: 14px;
      text-align: center;
      color: #777777;
      background-color: #fff;
    }
  }

  .policy {
    font-size: 13px;
    margin-top: 10px;
    text-align: center;
    color: #999999;
    line-height: 1.2;
  }

  .other-action {
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;

    a {
      color: #777777;

      &:hover {
        color: red;
      }
    }
  }
}

.form {
  .form-group {
    margin-bottom: 8px;

    label {
      display: block;
      text-transform: uppercase;
      margin-bottom: 8px;
      font-size: 14px;

      span {
        color: red;
      }
    }

    .form-control {
      width: 100%;
      height: 40px;
      padding: 0 16px;
      border: 1px solid #dadade;
      outline: none;
      margin-bottom: 8px;
      color: #55595c;

      &.error {
        border-color: #a94442;
        color: red;
      }

      &.success {
        border-color: #3c763d;
      }
    }

    .form-text {
      margin-bottom: 8px;
      color: #a94442;
    }
  }

  .form-action {
    margin-top: 15px;

    button {
      min-width: 290px;
      height: 50px;
      letter-spacing: 4px;
      font-size: 14px;
      width: 100%;
      position: relative;
      display: inline-block;
      padding: 8px 28px;
      line-height: normal;
      border: 1px solid #000;
      text-transform: uppercase;
      text-align: center;
      font-weight: 600;
      font-style: normal;
      background-color: transparent;
      z-index: 1;
      color: #fff;
      transition: all 0.5s ease;

      &:hover {
        color: #000;
        transition: all 0.5s ease;

        &::before {
          left: 100%;
          width: 0;
          animation: slide-left 0.5s ease-in-out;
        }
      }

      &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        transform: scale(1, 1);
        z-index: -1;
        background-color: #000;
        animation: slide-right 0.5s ease-in-out;
      }

      @keyframes slide-left {
        from {
          left: 0;
          width: 100%;
        }

        to {
          left: 100%;
          width: 0;
        }
      }

      @keyframes slide-right {
        from {
          width: 0;
        }

        to {
          width: 100%;
        }
      }
    }
  }
}
