.collection {
  .main-cate {
    height: 88px;
    background-color: #000;
    padding: 10px;
    margin-bottom: 12px;

    .category {
      background-color: #fff;
      height: 100%;
      width: 65%;
      padding: 20px;
      font-size: 22px;
      text-transform: uppercase;
      font-weight: 700;
    }
  }

  .products {
    .sort-cate {
      display: flex;
      min-height: 45px;
      align-items: center;
      gap: 8px;
      margin-bottom: 16px;
      flex-wrap: wrap;

      h3 {
        font-weight: 600;
        font-size: 16px;
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 14px;

        li {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 6px;
          cursor: pointer;
          user-select: none;

          &:hover {
            i {
              border: 1px solid #000;

              &::before {
                display: block;
              }
            }
          }

          i {
            height: 16px;
            width: 16px;
            border: 1px solid #e5e5e5;
            border-radius: 50%;
            display: inline-block;
            position: relative;

            &.active {
              border: 1px solid #000;

              &::before {
                display: block;
              }
            }

            &::before {
              content: '';
              width: 8px;
              height: 8px;
              background-color: #000;
              border-radius: 50%;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              display: none;
            }
          }
        }
      }
    }
  }
}
